[submodule "contrib/deterministic-build/electrum-btcc-icons"]
	path = contrib/deterministic-build/electrum-btcc-icons
	url = https://github.com/aaahh/electrum-btcc-icons
[submodule "contrib/deterministic-build/electrum-btcc-locale"]
	path = contrib/deterministic-build/electrum-btcc-locale
	url = https://github.com/aaahh/electrum-btcc-locale
