include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include electrum-btcc.conf.sample
include electrum-btcc.desktop
include *.py
include run_electrum
include contrib/requirements/requirements.txt
include contrib/requirements/requirements-hw.txt
recursive-include packages *.py
recursive-include packages cacert.pem
include icons.qrc
graft icons

graft electrum_btcc
prune electrum_btcc/tests

global-exclude __pycache__
global-exclude *.py[co]
